/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: #ffcdd2;
    color: #333;
    border-radius: 10px;
}

.topbar {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url("https://source.unsplash.com/random/1600x900?video+games&sig=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 2rem;
}

.tittle {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

  /* Estilos específicos para la página de Mario Kart */

.mkart-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 100%;
}

.mkart-container:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.mkart-name {
    background-color: #C1FF87;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 2rem;
}

    .mkart-name h3 {
    margin: 0;
    }

    .img-mkart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

#imagenes {
    width: 60%;
    height: auto;
    margin: 0 auto;
    animation: pulse 2s infinite;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.img_sec_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#imagenes_sec {
    width: 30%;
    height: auto;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.dscription-mkart {
    color: #333;
    background-color: #f2f2f2;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    padding: 0 1rem;
    margin: 0 1rem;
    border-radius: 7px;
}

.dscription-mkart p:first-child {
    font-weight: bold;
}

.dscription-mkart p:last-child {
    font-weight: bold;
    color: #cf6bbe;
}

.precio {
    background-color: #C1FF87;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.button-mkart {
    --color: #d688c9;
    --color2: #d688c9c0;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.8em 1.75em;
    border-radius: 6px;
    border:.3px solid var(--color);
    transition:.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}


.precio { 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px; 
    background-color: #C1FF87; 
    color: #333; 
    font-size: 1.5rem; 
    margin: 1rem 0; 
    border-radius: 5px;
}

.button-mkart {
    display: flex;
    justify-content: center; 
    margin-top: 2rem; 
}

.button-mkart a { 
    color: #fff; 
    background-color: #d688c9; 
    border-radius: 5px; 
    padding: 0.5rem 2rem; 
    margin: 0 1rem; 
    text-decoration: none; 
    font-size: 1.2rem; 
    transition: background-color 0.3s ease; 
}

.button-mkart a:hover { 
    background-color: #cf6bbe; 
}